<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .header {
                padding: 30px;
                text-align: center;
                background-color: #f49982;
                color: white
            }

            .header h1 {
                font-size: 40px
            }

            * {
                box-sizing: border-box;
            }

            .header p {
                font-size: x-large;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>Programmierung 2 Tutorium</h1>
            <p>Algorithmen und Datenstrukturen</p>
        </div>  
    </body>
</html>